* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;

}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}

.logo-container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
}

.logo-container h1 span {
    font-weight: 800;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 150px;
}

.button {
    width: 160px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid black;
    background-image: linear-gradient(to top right, darkblue, white);
    text-align: center;
    margin: 10px;
}

.button-text {
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: 12.5px;
}

.div-text {
    font-family: 'Montserrat';
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.info {
    font-family: 'Montserrat';
    font-size: 25px;
    margin-left: 100px;
}

body {
    background-color: rgb(72, 82, 82);
}

.hamburger {
    width: 100px;
    height: 100px;
}